/* General styles for all menus */
.cbp-spmenu {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c0c0c+0,171717+100 */
background: #0a0a0a; /* Old browsers */
background: -moz-linear-gradient(left,  #0a0a0a 0%, #161616 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0a0a0a), color-stop(100%,#161616)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #0a0a0a 0%,#161616 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #0a0a0a 0%,#161616 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #0a0a0a 0%,#161616 100%); /* IE10+ */
background: linear-gradient(to right,  #0a0a0a 0%,#161616 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#161616',GradientType=1 ); /* IE6-9 */
position: fixed;
}

#menu-scroll::-webkit-scrollbar {
    width: 13px;
}
 
#menu-scroll::-webkit-scrollbar-track {
    background: transparent;
	-webkit-box-shadow: inset 4px 0px 10px -5px rgba(0,0,0,0.6);
-moz-box-shadow: inset 4px 0px 10px -5px rgba(0,0,0,0.6);
box-shadow: inset 4px 0px 10px -5px rgba(0,0,0,0.6);
}
 
#menu-scroll::-webkit-scrollbar-thumb {
    background: #292929;
	border-radius: 7px;
	border: none;
	border-right: 3px solid #171717;
	border-left: 3px solid #111;
	border-top: 3px solid #292929;
	border-bottom: 3px solid #292929;
}

#menu-scroll::-webkit-scrollbar-thumb:hover {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7df74+0,e0bb35+100 */
background: #555; /* Old browsers */


} 
.cbp-spmenu-vertical {
}
.menu-wrap {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
}

.menu-wrap aside {
	margin-bottom: 20px;
}

.menu-wrap-inner {
	display: block;
	position: relative;
	margin: 40px 0 100px 0;
}

/** Profile Block **/
.profile-block .avatar {
	width: 120px;
	height: 120px;
	background: transparent !important;
	margin: auto;
}
.profile-block .username,
.profile-block .type {
	width: 100%;
	display: block;
	text-align: center;
}
.profile-block .username {
	font-size: 18px;
	color: #fff;
	margin-top: 15px;
}

.profile-block .type {
	font-size: 12px;
	color: #444;
	margin-top: 5px;
}

/** Stats Block **/

.stats-block ul.stats {
	width: 90%;
	display: table;
	margin: auto;
}

.stats-block ul.stats,
.stats-block ul.stats li {
	height: 70px;
}

.stats-block ul.stats li {
	width: 33%;
	display: table-cell;
	height: 70px;
	color: #666;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
}

.stats-block ul.stats li span {
	font-size: 20px;
	color: #fff;
	display: block;
	width: 100%;
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	margin-bottom: 5px;
}

.stats-block ul.stats li:first-child span {
	border-left: none;
}

/** Menu List **/
.menu-list h4 {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	margin: 0 0 0 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #666;
}
.menu-list ul {
	width: 100%;
	margin: 0 auto 15px auto;
}

.menu-list ul li {
	margin: 1px auto;
}

.menu-list ul li a {
	font-size: 14px;
	color: #bbb;
}

.menu-list ul li a,
.menu-list ul li a .menu-icon {
	background: rgba(70,70,70,0.2);
}

.menu-list ul li,
.menu-list ul li a,
.menu-list ul li a .menu-icon {
	width: 100%;
	height: 35px;
	line-height: 35px;
	}

.menu-list ul li,
.menu-list ul li a {
	display: block;
}
.menu-list ul li a .menu-icon {
	width: 35px;
	float: left;
	text-align: center;
	margin-right: 20px;
	font-size: 16px;
	color: #777
}

.menu-list ul li a > small {
	float: right;
	margin-right: 15px;
	color: #f8db54;
	font-size: 10px;
}


.menu-list ul li.add a,
.menu-list ul li.add a .menu-icon {
	color: #555;
}

.menu-list ul li.add a .menu-icon {
	background: rgba(30,30,30,0);
}

.menu-list ul li a:hover {
	background: rgba(70,70,70,0.5);
	color: #777;
}

.menu-list ul li a:hover .menu-icon {
	background: rgba(248,219,84,0.8);
	color: #111
}


	.menu-list ul li,
.menu-list h4	{
		overflow: hidden;
	}
	
.btn-find {
	width: 64%;
	margin: 0 15%;
	border-radius: 18px;
	-webkit-border-radius: 18px;
	height: 36px;
	color: #777;
	line-height: 17px;
	border: 1px solid #777;
}

.btn-find:hover { 
	color: #999;
	border: 1px solid #333;
	background: #333;
	
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 9998;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


@media screen and (max-width: 990px){
	.cbp-spmenu-vertical {
		width: 200px;
	}
	
	
	.menu-list ul li a .menu-icon {
		margin-right: 10px;
	}
	
	.menu-list ul li a {
		font-size: 13px;
	}
		
	.profile-block .avatar {
		width: 100px;
		height: 100px;
	}
	.profile-block .username {
		font-size: 16px;
	}
	.stats-block ul.stats li {
		font-size: 8px;
	}
	
	.stats-block ul.stats li span {
		font-size: 14px;
	}
	
	.stats-block .btn-find {
		width: 80%;
		margin: 0 10%;
	}
	
	
}

@media screen and (max-width: 768px){
	.cbp-spmenu-vertical {
		width: 160px;
	}
		
	.profile-block .avatar {
		width: 80px;
		height: 80px;
	}
	.profile-block .username {
		font-size: 13px;
	}
	.stats-block,.profile-block .type {
		display: none;
	}
	.menu-list ul {
		margin: 0 auto 7px auto;
	}
	
	.menu-list ul li a .menu-icon {
		width: 25px;
		font-size: 14px;
	}
	
	.menu-list ul li {
		height: 32px;
	}
	
	.menu-list ul li, .menu-list ul li a, .menu-list ul li a .menu-icon {
		line-height: 32px;
	}
	
	.menu-list ul li a > small {
		margin-right: 7px;
	}
	
	.menu-list h4 {
		font-size: 11px;
	}
	
	.menu-list ul li,
	.menu-list h4	{
		overflow: hidden;
	}
	
	.menu-wrap-inner {
		margin: 25px 0 100px 0;
	}
	
}


@media screen and (max-width: 480px){
	.cbp-spmenu-vertical {
		width: 50px;
	}
	.cbp-spmenu-vertical.open-mobile {
		width: 160px;
	}
	
	.open-mobile .menu-list h4,
	.open-mobile .profile-block {
		opacity: 1;
	}
	
	.menu-list ul li,
	.menu-list h4	{
		overflow: hidden;
	}
	
	.menu-list h4 {
		opacity: 0;
		height: 5px;
	}
	.profile-block .avatar {
		width: 70px;
		height: 70px;
	}
	
	.open-mobile .menu-list h4 {
		height: auto;
	}
	
	.profile-block {
		opacity: 0;
		height: 0;
	}
	
	.open-mobile .profile-block {
		height: auto;
	}

	.profile-block .username {
		font-size: 13px;
	}
	.stats-block,.profile-block .type {
		display: none;
	}
	.menu-list ul {
		margin: 0 auto 7px auto;
	}
	
	.menu-list ul li a .menu-icon {
		margin-right: 10px;
		width: 35px;
		font-size: 16px;
	}
	
	.menu-list ul li, .menu-list ul li a, .menu-list ul li a .menu-icon {
		height: 35px;
		line-height: 35px;
	}
	
	.menu-list ul li a > small {
		margin-right: 7px;
	}
	
		
	.menu-wrap-inner {
		margin: 25px 0 100px 0;
	}
	
}

