 ::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
	-webkit-box-shadow: inset 4px 0px 10px -5px rgba(0,0,0,0.4);
-moz-box-shadow: inset 4px 0px 10px -5px rgba(0,0,0,0.4);
box-shadow: inset 4px 0px 10px -5px rgba(0,0,0,0.4);
}
 
::-webkit-scrollbar-thumb {
    background: #222;
	border-radius: 7px;
	border-right: 3px solid #eee;
	border-left: 3px solid #ccc;
	border-top: 3px solid #f2f2f2;
	border-bottom: 3px solid #f2f2f2;
}

::-webkit-scrollbar-thumb:hover {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7df74+0,e0bb35+100 */
background: #f7df74; /* Old browsers */
background: -moz-linear-gradient(left,  #f7df74 0%, #e0bb35 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f7df74), color-stop(100%,#e0bb35)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #f7df74 0%,#e0bb35 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #f7df74 0%,#e0bb35 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #f7df74 0%,#e0bb35 100%); /* IE10+ */
background: linear-gradient(to right,  #f7df74 0%,#e0bb35 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7df74', endColorstr='#e0bb35',GradientType=1 ); /* IE6-9 */


}

#stickIt.stick {
    position: fixed;
    top: 120px;
    z-index: 99989;
}

/* -----------------------------------------
   Skeleton - (Global)
----------------------------------------- */

.ie7 body{
	overflow:hidden;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html {
	overflow-x: hidden;
}
html, body {
    width:100%;
    height:100%;
}
body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.wrapper {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Metropolis', Helvetica, Arial, sans-serif;
}

h2,h3,h4,h5,h6, p,
input, textarea, button,
.btn,
h1.theme small, a.small, .stylist-stats li small,
.outfit, .outfit small {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.hero-slide h1 small {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

small {
	display: block;
}

p {
	font-size: 16px;
	font-weight: 300;
}

a,
a:hover,
a:active {
	text-decoration: none !important;
}
a:hover,
a:focus,
input:hover,
input:focus,
button:hover,
button:focus,
textarea:hover,
textarea:focus {
	outline: none;
}

input,textarea {
	border: 0;
	background: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

aside {
	margin-bottom: 50px;
	display: block;
}

a#scrDwn,
a#toTop {
	background: #090909;
	display: block;
	color: #fff;
	margin-left: -35px;
	z-index: 999;
	text-align: center;
	bottom: 5%;
}

a#scrDwn {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 30px;
	position: absolute;
	left: 50%;
}

a#toTop {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	position: fixed;
	right: 3%;
	opacity: 0.6;
	display: none;
}

a#scrDwn:hover,
a#toTop:hover {
	background: #f8db54;
	color: #000;
	opacity: 0.9;
}

/*
 * Structure
 */
 .container,
 .wide-container,
 .wide-container-x1,
 .wide-container-x2 {
 	display: block;
 	margin: auto;
 	z-index: 11;
 	position: relative;
  }
 .container {
 	width: 1220px;
 }
 
 .wide-container {
	 width: 80%;
	 max-width: 1620px;
 }
  .wide-container-x1 {
	  width: 1392px;
  }
  
  .wide-container-x2 {
	  width: 87%;
  }
  
  .the-closet .container {
	 width: 80%;
  }
  
  .the-closet #foot-navigate .container {
	 width: 77%;
	 padding-left: 4%;
  }
  
	.the-closet .container,
	.the-closet .wide-container,
	.the-closet .wide-container-x2  {
	  margin: 0 0 0 310px;
  }
  
.the-closet .wide-container-x1 {
	  margin: 0 0 0 20%;
}

 #preloader  {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #050505;
     z-index: 999999;
     max-height: 100%;
     transition-property: all;
	transition-duration: .7s;
	transition-timing-function: cubic-bezier(0.17, 0.04, 0.03, 0.94);
	overflow-y: hidden;
	opacity: 1 !important;
 }

  #preloader.close {
  	max-height: 0;
  }

#loader-status {
     width: 200px;
     height: 200px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-image: url(../images/theme/loader.gif);
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
     text-align: center;
     color: #444;
     font-weight: 300;
 }

 .hr {
 	background: #ddd;
 	width: 90%;
 	display: block;
 	clear: both;
 	height: 0;
 	margin: 50px 5%;
 	float: left;
 	border-top: 1px solid #ddd;
 	opacity: 0.6;
 }

 .v-hr {
	 position: relative;
 }
.v-hr:after {
	content: '';
	position: absolute;
	right: 0;
	top: 10%;
	width: 1px;
	height: 80%;
}
/*
* Overlays
*/
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}
.overlay-1 {
	background: #000;
	opacity: 0.7;
}

.overlay-2 {
	background: #111;
	opacity: 0.5;
}
.overlay-3 {
	background: rgba(248,219,84,0.8);
}

.overlay-4 {
	background: #333;
	opacity: 0.8;
}

 /*
 * Copy Format
 */

 .text-4x {
 	font-size: 25px;
 }

 .text-right {
 	text-align: right;
 }

 .text-left {
 	text-align: left;
 }

 .text-center {
 	text-align: center;
 }

 .text-justify {
 	text-align: justify;
 }

 .text-upper {
 	text-transform: uppercase;
 }

 .text-kern-x0 {
 	letter-spacing: -1px;
 }

 .text-kern {
 	letter-spacing: 1px;
 }

 .text-kern-x2 {
 	letter-spacing: 2px;
 }

 .text-kern-x3 {
 	letter-spacing: 3px;
 }

.text-default {
	text-transform: none;
}
 .text-offset {
 	text-indent: -9999em;
 }

.overlay {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
}

.white-screen {
	background-color: rgba(255,255,255,1);
	opacity: 0.7;
}

.black-screen {
	background-color: rgba(0,0,0,1);
	opacity: 0.8;
}

.grey-screen {
	background-color: rgba(20,20,20,1);
	opacity: 0.9;
}

.hidethis {
	opacity: 0;
}


 /*
 * Clearspace
 */

.inner-container {
	z-index: 5;
	position: relative;
	margin: 5%;
}

.inner-pad-0 {
 	padding: 15px;
 }

 .inner-pad {
 	padding: 30px;
 }

.inner-pad-a {
 	padding: 40px 60px;
}

.inner-pad-b {
 	padding: 60px;
}

.inner-pad-c {
 	padding: 45px;
}

 .inner-pad-x {
 	padding: 0 30px;
 }

  .inner-pad-x2 {
 	padding: 0 60px;
 }
 
 .inner-pad-y0 {
 	padding: 15px 0;
 }

 .inner-pad-y {
 	padding: 30px 0;
 }

 .inner-pad-y2 {
 	padding: 45px 0;
 }

  .inner-pad-y3 {
 	padding: 60px 0;
 }

  .inner-pad-y4 {
 	padding: 90px 0;
 }

  .inner-pad-y5 {
 	padding: 110px 0;
 }
 
 .inner-pad-y6 {
 	padding: 130px 0;
 }

 .no-pad {
 	padding-right: 0;
 	padding-left: 0;
 	padding-top: 0;
 	padding-bottom: 0;
 }

 .hidetxt {
 	text-indent: -9999em;
 }

 /*
 * Animation & FX
 */

 *:after, *:before,
  .category-box, .outfit, .options-box a {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
 
 
 
h1,h2,h3,h4,h5,h6,p,
a, .btn, img,
input, textarea, button, span,
.fx-ease-3, .img-frm,
.tops-bottoms-shoes, .dress-purse-shoes,
.acc-item, .ui-overlay, .item-overlay,
#membership .model-join, #membership .stylist-join,
.highlight ul, .shop-item-prev {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	}

.fx-ease-5,
.owl-prev, .owl-next {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/* -----------------------------------------
   Site Elements 
----------------------------------------- */
/*
 * Theme Headers
 */
 
 
 h1, h2, h3, h4, h5, h6 {
 	margin: 0 0 15px 0;
 	color: #333;
 }


 h1, h2 {
 	font-weight: 700;
 	text-transform: uppercase;
 }

 h2 {
 	font-size: 32px;
 }

 small {
 	text-transform: none;
 }


h2.theme {
	font-size: 26px;
}

h2.theme small {
	display: block;
	font-style: italic;
	font-size: 20px;
	}
	
h2.theme {
	text-align: center;
	display: block;
	font-weight: 800;
	font-size: 35px;
	letter-spacing: 1px;
	position: relative;
	height: 80px;
}

h2.theme > em {
	opacity: 0.6;
	position: relative;
	font-weight: 300;
	letter-spacing: 2px;
}
h2.theme > em:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 200px;
    height: 1px;
	background: #e1c339;
    position: absolute;
    top: 30px;
    left: 50%;
	margin-left: -20%;
	-moz-transform: rotate(-40deg);
	-webkit-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
}

h2.theme:after {
	content: '';
	display: block;
	height: 0px;
	border-top: 1px dotted #ccc;
	margin: 8px auto;
}

h2.theme:before {
	width: 150px;
}
h2.theme:after {
	width: 50px;
}


h3 {
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}

/*
 * Images
 */

.img-frm,
.promo-frm,
.user-img-frm,
.avatar,
.icon-btn {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.img-frm img,
.promo-frm img,
.user-img-frm img,
.avatar img {
	top: -2.5%;
	left: -2.5%;
	width: 105%;
	min-width: 105%;
	min-height: 105%;
	z-index: 0;
	position: absolute;
	height: auto;
}

.user-img-frm img {
	top: -10%;
	left: -2.5%;
	width: 105%;
	min-width: 105%;
	min-height: 115%;
	max-height: 450px;
}

.icon-btn {
	width: 35px;
	height: 45px;
	line-height: 45px;
	display: block;
	float: left;
	color: #f8db54;
}

.icon-btn:hover {
	color: #999;
}

.icon-label {
	font-weight: 600;
	font-size: 15px;
	height: 40px;
	float: left;
	display: block;
	margin-right: 30px;
}

.icon-label .small {
	display: block;
	font-size: 10px;
	color: #777;
}

.icon-btn .fa {
	font-size: 27px;
}
.avatar {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid #ccc;
}

.avatar.gold-lvl {
	border: 2px solid #f8db54;
}

.avatar.silver-lvl {
	border: 2px solid #777;
}

.avatar.bronze-lvl {
	border: 2px solid #a96f37;
}

.avatar:hover img {
	opacity: 0.7
}
/*
 * Buttons
 */

.btn {
	padding: 9px 18px;
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 0 5px;
}

.btn-lg {
	font-size: 14px;
	font-weight: 700;
}

.btn-solid {
	background: #090909;
	color: #fff;
}


.btn-arrow:after {
	content: '\f178';
	font-family: fontawesome;
	margin-left: 8px;
	font-size: 13px;
}
.btn-arrow {
	padding: 10px 15px 10px 20px;
}
.btn-lg.btn-arrow {
	padding: 14px 15px 14px 20px;
}
.btn-block {
	width: 100%;
}

.btn-layer {
	position: absolute;
	width: 100%;
	z-index: 15;
	display: block;
	text-align: center;
}

.btn-layer.bottom {
	bottom: 30px;
}

.btn-hero {
	font-size: 20px;
	padding: 15px 48px;
	margin-top: 170px;
	border-radius: 40px !important;
	letter-spacing: 2px;
}

.btn-hero:hover {
	background: #f8db54;
	font-weight: 600;
	  -moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

.btn-solid.hvr-yellow:hover {
	color: #000;
}

.btn-solid.hvr-pop {
	border: 2px solid #000;
}

.btn.hvr-pop:hover {
	background: transparent;
	color: #000;
	border: 2px solid #000;
}

.btn-solid-wht.hvr-pop {
	border: 2px solid #fff;
}

.btn-solid-wht {
	background: #fff;
	color: #333;
}

/*
 * Boxes
 */

 .box-pad {
 	margin: 0 0 15px 0;
 	padding: 15px;
 }

 .box-grey {
 	background: #eee;
 }

/*
 * Badges
 */

 .badge {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	font-size: 11px;
	z-index: 20;
	padding-top: 17px;
	-moz-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	text-transform: uppercase;
	font-weight: 600
}
.badge.gold {
	background: #f8db54;
	color: #000;
}

.badge.silver {
	background: #ccc;
	color: #000;
}

.badge.bronze {
	background: #be8427;
	color: #000;
}

.badge-lrg {
	width: 65px;
	height: 65px;
	padding-top: 19px;
	font-size: 13px;
}


/*
 * Social Media Icons
 */

.social-media-links {
	text-align: center;
	margin: 30px 0 0 0;
	width: 100%;
	display: block;
}

.social-media-links a {
	color: #fff;
	display: inline-block;
	text-align: center;
	margin-right: 3px;
}

.social-media-links a:hover {
}

.social-media-links a:hover > .fa-facebook {
	color: #314a87;
}
.social-media-links a:hover > .fa-twitter {
	color: #22bbf4;
}
.social-media-links a:hover > .fa-youtube-play {
	color: #d72a25;
}
.social-media-links a:hover > .fa-google-plus {
	color: #dd4b39;
}
.social-media-links a:hover > .fa-instagram {
	color: #3f729b;
}
.social-media-links a:hover > .fa-soundcloud {
	color: #ff8800;
}
.social-media-links a:hover > .fa-rss {
	color: #fd7704;
}

/* -----------------------------------------
   Popups
----------------------------------------- */

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.8);
	z-index: 9999;
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

.popup-inner-wrap {
	padding: 25px 40px;
}

/* Widths */

.popup-thin {
    max-width:400px;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:25px;
    right:25px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0);
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#999;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
	color: #fff;
}

.popup h3.popup-header {
	display: block;
	width: 100%;
	background: #151515;
	color: #fff;
	padding: 15px 0;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.popup-dark {
	background: #0c0c0c;
}

.popup-dark p {
	color: #aaa;
	margin-bottom: 15px;
}

.popup span.opt {
	text-align: center;
	width: 35px;
	height: 35px;
	margin-left: 47%;
	margin-bottom: 20px;
	line-height: 35px;
	border: 1px solid #292929;
	color: #333;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: block;
	position: relative;
}

.popup span.opt:before,
.popup span.opt:after  {
	content: '';
	height: 1px;
	width: 70px;
	position: absolute;
	top: 50%;
	background: #292929;
	display: block;
}
.popup span.opt:before {
	right: 130%;
	
}
.popup span.opt:after {
	left: 130%;
}

/*
* Tags
*/

.tags a {
	display: inline-block;
	padding: 4px 13px;
	font-weight: 400;
	margin: 4px 2px;
}

/* -----------------------------------------
   Membership Functions
----------------------------------------- */
#login-form input,
#signup-form input {
	display: block;
	width: 100%;
	height: 50px;
	border: 1px solid #333;
	line-height: 50px;
	margin: 0 0 15px 0;
	padding-left: 15px;
	color: #fff;
}

#login-form input:focus,
#signup-form input:focus {
	background: none;
	border: 3px solid #777;
	color: #f8db54;
}

#login-form input.login-btn,
#signup-form input.signup-btn {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: 500;
	background: #f8db54;
	color: #050505;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 14px;
}

#social-form a {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 0 15px 0;
	position: relative;
	padding-left: 60px;
	font-weight: 600;
	overflow: hidden;
	font-size: 15px;
}

#social-form a.login-fb {
	background: #314a87;
}
#social-form a.login-tw {
	background: #22bbf4;
}
#social-form a.login-pn {
	background: #bd081c;
}
#social-form a > .fa {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: rgba(255,255,255,0.2);
	color: rgba(255,255,255,0.7);
	font-size: 23px;
	text-align: center;
	line-height: 40px;
}
#social-form a:hover,
#login-form input.login-btn:hover {
	background: #222;
	color: #ddd;
}
#social-form a:hover > .fa {
	color: #000;
	background: #f8db54;
}


/* -----------------------------------------
   Tabs
----------------------------------------- */

.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}


.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Tabs container */
.r-tabs {
	position: relative;

	background-color: #00c5ad;

	border-top: 1px solid #00c5ad;
	border-right: 1px solid #00c5ad;
	border-left: 1px solid #00c5ad;
	border-bottom: 4px solid #00c5ad;
	border-radius: 4px;

}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: #00c5ad;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;

	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #00c5ad;
	text-shadow: none;

	background-color: white;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: white;

	border-bottom: 4px solid white;

	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;

	background-color: #00c5ad;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	font-size: 14px;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #00c5ad;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}


/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}

/* -----------------------------------------
   Outfits 
----------------------------------------- */

.outfit-feed {
	width: 90%;
	margin: auto;
	display: block;
	position: relative;
}
.outfit {
	width: 330px;
	max-width: 330px;
	z-index: 20;
	background: rgba(0,0,0,0.6);
	padding: 0 0 10px 0;
	height: auto;
	min-height: 320px;
	float: left;
	margin: 10px;
	overflow: hidden;
	-webkit-box-shadow: 0 1px 2px 0 (0,0,0,0.3);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	border: 2px solid transparent;
}

.outfit:hover {
	border: 2px solid #f8db54;
	background: rgba(0,0,0,1);
}

.outfit,
.outfit-frame {
	border-bottom-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-left-right-radius: 8px;
}
.outfit,
.outfit-frame,
.outfit-view,
.outfit .tops-bottoms-shoes, .outfit .dress-purse-shoes,
.outfit .social-frame {
	display: block;
	position: relative;
}
.outfit-frame,
.outfit-view,
.outfit .tops-bottoms-shoes,
.outfit .dress-purse-shoes {
	height: 300px;
}

.outfit-frame,
.tops-bottoms-shoes,
.dress-purse-shoes,
.social-frame {
	width: 100%;
}

.outfit-view {	
	float: left;
	background: #fff;
}

.outfit .main-view {
	width: 65%;
}

.outfit .acc-view {
	width: 35%;
}


.outfit .img-frm img {
	width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
}

.scroll {
	overflow-y: scroll;
	overflow-x: hidden;
}
/*
* Tops + Bottoms + Shoes
*/



.outfit .top-view,
.outfit .dress-view,
.outfit .bottom-view,
.outfit .shoe-view {
	position: absolute;
	display: block;
}
.outfit .top-view {
	top: 15px;
}

.outfit .top-view,
.outfit .dress-view {
	left: 5px;
	z-index: 21;
}

.outfit .dress-view {
	top: 25px;
}

.outfit .top-view .img-frm {
	width: 190px;
	height: 190px;
}

.outfit .dress-view .img-frm {
	width: 200px;
	height: 230px;
}

.outfit .bottom-view {
	right: 0;
	bottom: 30px; 
	z-index: 22;
}

.outfit .bottom-view .img-frm {
	width: 200px;
	height: 200px;
}

.outfit .shoe-view {
	bottom: 0px;
	left: 10px;
	z-index: 23;
}

.outfit .shoe-view .img-frm {
	width: 155px;
	height: 155px;
}

.outfit .accessories {
	width: 100%;
	display: block;
	height: 100%;
	position: relative;
}

.outfit .acc-item {
	height: 100px;
	display: block;
	position: relative;
}

.outfit .acc-item .img-frm {
	height: 90px;
	width: 90px;
}

/*
*	UI Overlays
*/

.outfit .ui-overlay,
.outfit .item-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60%;
	z-index: 30;
	opacity: 0;
}
.outfit .ui-overlay {
	background: rgba(0,0,0,0.85);
}
.outfit .item-overlay {
	background: rgba(252,213,29,0.8);
}

.outfit .main-view:hover .ui-overlay,
.outfit .acc-item:hover .item-overlay {
	opacity: 1;
	height: 100%;
}

.outfit .main-view .ui-overlay .price {
	font-size: 35px;
	color: #f8db54;
	font-weight: 500;
	text-align: center;
	width: 100%;
	position: relative;
	line-height: 25px;
	margin-top: 70px;
}


.outfit .main-view .ui-overlay .price small {
	font-size: 10px;
	display: block;
	color: #999;
	text-transform: uppercase;
}

.outfit .main-view .ui-overlay .price:after {
	content: '';
	width: 100px;
	height: 100px;
	border: 1px solid #999;
	display: block;
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -50px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.outfit .main-view .ui-overlay .price sup {
	color: #ccc;
	font-size: 16px;
}

.outfit .actions {
	width: 90%;
	display: block;
	color: #fff;
	z-index: 31;
	position: absolute;
	left: 5%;
}

.outfit .actions a {
	display: block;
	overflow: hidden;
	float: left;
	color: rgba(0,0,0,0) !important;
	position: relative;
	font-size: 20px;
}

.outfit .main-view .ui-overlay .actions {
	height: 30px;
	bottom: 80px;
}

.outfit .main-view .ui-overlay .actions a {
	width: 33%;
	height: 30px;
	border-left: 1px solid #555;
}

.outfit .actions a:after {
	font-family: fontawesome;
	color: #fff;
	display: block;
	position: absolute;
	width: 100%;
	left: 50%;
	margin-left: -15%;
}

.outfit .main-view .ui-overlay .actions a:first-child {
	border-left: none;
}

.outfit .main-view .ui-overlay .actions a:after {
	height: 30px;
	top: 5px;
	font-size: 18px;
}

.outfit .actions a:hover:after {
	color: #f8db54;
}

.outfit .acc-view .item-overlay:before {
	border: 1px solid rgba(0,0,0,0.2);
	position: absolute;
	width: 92%;
	height: 92%;
	top: 4%;
	left: 4%;
	content: '';
}
.outfit .acc-view .item-overlay .price {
	font-size: 18px;
	color: #333;
	font-weight: 800;
	text-align: right;
	width: 90%;
	position: relative;
	margin-top: 12px;
}

.outfit .acc-view .item-overlay .actions {
	bottom: 10px;
	height: 30px;
}

.outfit .acc-view .item-overlay .actions a {
	height: 40px;
	width: 33%;
}

.outfit .acc-view .item-overlay .actions a:after {
	height: 30px;
	top: 8px;
	font-size: 17px;
	color: #333;
}

.outfit .acc-view .item-overlay .actions a:hover:after {
	color: #888;
}
.outfit .actions a.like:after {
	content: '\f087';
}
.outfit .actions a.add-fav:after {
	content: '\f08a';
}

.outfit .actions a.share:after {
	content: '\f1e0';
}

.outfit .actions a.options:after {
	content: '\f0c9';
}

.outfit .actions a.enlarge:after {
	content: '\f00e';
}

.outfit .action-expand {
	width: 90%;
	display: block;
	color: #000;
	z-index: 32;
	position: absolute;
	left: 5%;
	bottom: 25px;
	text-align: center;
}
.outfit .action-expand .btn-add {
	font-size: 12px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	font-weight: 600;
	border: 1px solid #999;
	color: #ccc;
	padding: 6px 15px;
	position: relative;
	width: 170px;
	
}

.outfit .action-expand .btn-add em {
	font-style: normal !important;
}
.outfit .action-expand .btn-add:hover {
	background: #f8db54;
	color: #000;
	border: 1px solid transparent;
	-webkit-box-shadow: 0 2px 0 0 #c7ae3b;
	box-shadow: 0 2px 0 0 #c7ae3b;
}

.outfit .action-expand .btn-add ul {
	display: none;
	position: absolute;
	bottom: 48px;
	left: -23px;
	background: #f8db54;
	padding: 62px 30px;
	width: 214px;
}

.outfit .action-expand .btn-add ul li {
	text-align: left;
	border-bottom: 1px solid #c8ad30;
	font-size: 13px;
	letter-spacing: 2px;
}
.outfit .action-expand .btn-add ul li a .fa {
	opacity: 0.5;
	margin-right: 10px;
}

.outfit .action-expand .btn-add ul li a {
	color: #000;
	padding: 8px 10px;
	display: block;
	font-weight: 700;
}

.outfit .action-expand .btn-add ul li a:hover {
	background: #b59125;
	color: #fff;
}

.outfit .action-expand .btn-add ul li:last-child {
	border-bottom: none;
}

.outfit .action-expand .btn-add ul:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(248, 219, 84, 0);
	border-top-color: #f8db54;
	border-width: 12px;
	margin-left: -12px;
}

.outfit .action-expand .btn-add:hover ul {
	/*display: block;*/
}
/*
* Social Frame
*/

.outfit .social-frame {
	height: 60px;
	padding: 0 15px;
}

.outfit .social-frame .avatar {
	width: 45px;
	height: 45px;
	margin: 12px 12px 0 0;
	float: left;
}

.outfit .social-frame .creator {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin-top:20px;
	float: left;
	max-width: 192px;
	display: block;
	overflow: hidden;
	position: relative;
}

.outfit .social-frame .creator a {
	color: #fff;
}

.outfit .social-frame .creator small {
	font-weight: normal;
	color: #666;
	font-size: 11px;
}

.outfit .social-frame .social-cta {
	margin-top: 25px;
	margin-right: 5px;
	height: 20px;
	float: right;
}

.outfit .social-frame a.favs,
.outfit .social-frame a.comments {
	font-size: 13px;
	color: #565656;
}

.outfit .social-frame a.favs:before,
.outfit .social-frame a.comments:before {
	font-family: 'fontawesome';	
	font-size: 16px;
	margin-right: 4px;
}

.outfit .social-frame a.favs:before {
	content: '\f164';
}

.outfit .social-frame a.comments:before {
	content: '\f086';
}

.outfit .social-frame a:hover {
	color: #f8db54;
}



/* -----------------------------------------
   Search Box - Navigation
----------------------------------------- */

.search-nav {
    width:100%;
    margin: 2px auto auto auto;
}

.searchbox{
    position:relative;
    min-width:45px;
    width:0%;
    height:34px;
    float:right;
    overflow: hidden;
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    -ms-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s;
	margin-right: -20px;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:transparent;
    width:100%;
    margin:0;
    padding:0px 55px 0px 15px;
    font-size:22px;
    color:#f8db54;
	border: 3px solid #333;
	line-height: 34px;
	font-weight: 500;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.searchbox-input::-webkit-input-placeholder {
    color: #666;
}
.searchbox-input:-moz-placeholder {
    color: #666;
}
.searchbox-input::-moz-placeholder {
    color: #666;
}
.searchbox-input:-ms-input-placeholder {
    color: #666;
}
.searchbox-icon {
	border-left: 3px solid #101010;
}
.searchbox-icon,
.searchbox-submit {
    height:34px;
}

.searchbox-input {
	height: 28px;
}
.searchbox-icon,
.searchbox-submit {
    width:50px;
    display:block;
    position:absolute;
    top:0;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:34px;
    text-align:center;
    cursor:pointer;
    color:#fff;
    background:#101010;
}

.searchbox-icon:hover {
	color:#f8db54;
}

.searchbox-open{
    width:100%;
}

/* -----------------------------------------
   Newsletter
----------------------------------------- */
 
 #newsletter {
	background-image: url('../images/theme/newsletter-bg.jpg');
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: #000;
	text-align: center;
	width: 100%;
	height: auto;
	display: block;
	position: relative;
 }
 
  #newsletter h2.theme {
	  color: #000;
	  font-weight: 700;
	  font-size: 25px;
	  letter-spacing: 5px;
	  margin-bottom: 25px;
	  height: auto;
  }
  
  #newsletter h2.theme:after {
	  border-top: 1px solid #000;
  }
  
  #newsletter p {
	  letter-spacing: 1px;
	  line-height: 25px;
	  padding: 0 20%;
	  opacity: 0.7;
	  color: #000;
	  font-weight: 500;
  }
  
  #newsletter .btn {
	  font-size: 13px;
	  font-weight: 500;
	  border: 2px solid #111;
	  border-radius: 20px;
	  -webkit-border-radius: 20px;
	  height: 40px;
	  margin-top: 25px;
	  color: #111;
	  padding: 8px 30px;
	  line-height: 22px;
  }
  
    #newsletter .btn:hover {
	  border: 2px solid #f8db54;
	  color: #222;
	  background: #f8db54;
	  -moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	}
	
	#newsletter .newsletter-form {
		position: relative;
		width: 50%;
		height: 50px;
		margin: 40px auto 0 auto;
	}
	
	#newsletter .newsletter-form .nl-txt {
		width: 100%;
		border: 2px solid #000;
		height: 50px;
		border-radius: 25px;
		-webkit-border-radius: 25px;
		padding-right: 120px;
		padding-left: 30px;
		font-size: 20px;
		font-weight: 700;
	}
	#newsletter .newsletter-form .nl-btn {
		position: absolute;
		right: 2px;
		top: 2px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-size: 14px;
		height: 46px;
		line-height: 46px;
		padding: 0 30px;
		border-top-right-radius: 23px;
		-webkit-border-top-right-radius: 23px;
		border-bottom-right-radius: 23px;
		-webkit-border-bottom-right-radius: 23px;
	}

	
	#newsletter .newsletter-form .nl-txt:focus {
		background: #f8db54;
		border: 2px dashed #000;
	}
	
	#newsletter .newsletter-form .nl-btn:hover {
		background: #000;
		color: #f8db54;
	}

	
	.nl-txt::-webkit-input-placeholder {
    color: #000;
	font-size: 18px;
	font-weight: 300;
}
	.nl-txt:-moz-placeholder {
		color: #000;
	font-size: 18px;
	font-weight: 300;
	}
	.nl-txt::-moz-placeholder {
		color: #000;
	font-size: 18px;
	font-weight: 300;
	}
	.nl-txt:-ms-input-placeholder {
		color: #000;
	font-size: 18px;
	font-weight: 300;
	}
	
/* -----------------------------------------
   Support
----------------------------------------- */

 #support {
	background-image: url('../images/theme/support-bg.jpg');
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: #fff;
	text-align: center;
 }
 

   #support h2.theme {
	  color: #fff;
  }
  
   #support p {
	  letter-spacing: 1px;
	  line-height: 25px;
	  padding: 0 20%;
	  opacity: 0.7;
  }
  
   #support .btn {
	  font-size: 13px;
	  font-weight: 500;
	  border: 2px solid #fff;
	  border-radius: 20px;
	  -webkit-border-radius: 20px;
	  height: 40px;
	  margin-top: 25px;
	  color: #fff;
	  padding: 8px 30px;
	  line-height: 22px;
  }
  
     #support .btn:hover {
	  border: 2px solid #f8db54;
	  color: #222;
	  background: #f8db54;
	  -moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-o-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	}

/* -----------------------------------------
   Footer
----------------------------------------- */
footer {
	background: #0c0c0c;
	height: auto;
}

footer, footer section, #support, .shop-item-prev {
	display: block;
	width: 100%;
	position: relative;
	height: auto;
}

footer h3.theme {
	text-transform: uppercase;
	color: #f8db54;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-size: 15px;
}

footer h3.theme:after {
	content: '';
	display: block;
	height: 0px;
	border-top: 1px solid #444;
	margin: 15px auto 0 auto;
	width: 30px;
}

footer h2.theme {
	  font-weight: 600;
	  font-size: 25px;
	  letter-spacing: 5px;
	  margin-bottom: 25px;
	  height: auto;
}

footer h1 {
	color: #fff;
	font-weight: 400;
}

footer .tags a {
	border: 1px solid #777;
	color: #777;
	font-size: 14px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

footer .tags a:hover {
	background: #222;
	border: 1px solid #222;
	color: #f8db54;
}
footer .social-media-links {
	padding: 0 15%;
	margin-top: 30px;
}
footer .social-media-links a {
	height: 50px;
	width: 50px;
	line-height: 48px;
	font-size: 24px;
	border: 2px solid #222;
	color: #f8db54;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	margin-bottom: 15px;
}

footer .social-media-links a:hover {
	background: #222;
}
/*
 * Footer links
 */
 #foot-links {
	 background: #111;
 }
 
 #foot-links .v-hr:after {
	background: #222;
	}
#foot-links ul li a {
	display: block;
	width: 100%;
	padding: 10px 0 10px 30px;
	font-size: 13px;
	color: #aaa;
	position: relative;
	margin: 0;
}

#foot-links ul li {
	border-bottom: 1px dotted #333;
	width: 70%;
	margin: 0 15%;
}

#foot-links ul li:last-child {
	border-bottom: none;
}

#foot-links ul li a:hover {
	color: #f8db54;
	padding: 10px 0 10px 40px;
}

#foot-links ul li a:before {
	content: '\f178';
	font-family: 'fontawesome';
	left: 0;
	top: 0;
	height: 100%;
	line-height: 40px;
	width: 20px;
	position: absolute;
	color: #333;
}

#foot-links ul li a:hover:before {
	color: #999;
}
/*
 *  Footer Shop Previews
 */
.shop-item-prev {
	margin: 0;
	padding: 15px 0;
}

.shop-item-prev:hover {
	background: #222;
}
.shop-item-prev .img-frm {
	width: 90px;
	height: 90px;
	background: #fff;
}


.shop-item-prev:hover .img-frm img {
	opacity: 0.6;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}


.shop-item-prev .info-frm {
	margin: 0 0 0 15px;
	color: #ccc;
}

.shop-item-prev .info-frm h4 {
	font-size: 14px;
	font-weight: 700;
}

.shop-item-prev .info-frm h4,
.shop-item-prev .info-frm h4 a {
	color: #999;
}

.shop-item-prev:hover .info-frm h4 a {
	color: #f8db54;
}

.shop-item-prev .info-frm .price {
	color: #fff;
}

/*
 * Contact Form
 */

#foot-contact h2.theme {
	color: #ddd;
}

#foot-contact h3.theme {
	text-align: left;
	color: #777;
	margin-bottom: 10px;
}

#foot-contact h3.theme:after {
	margin: 10px 0 0 0;
}

#foot-contact .hr {
	margin: 60px 0;
	border-top: 1px solid #222;
	width: 100%;
}

#foot-contact p {
	text-align: center;
	color: #888;
	margin-top: 25px; 
	margin-bottom: 0px;
	display: block;
	letter-spacing: 1px;
    line-height: 25px;
    padding: 0 20%;
}

#foot-contact .v-hr:after {
	background: #222;
	right: 8%;
}

#foot-contact .social-media-links {
	text-align: left;
	padding: 0;
	margin: 0;
}


#foot-contact .phone-no {
	font-size: 27px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 30px;
	letter-spacing: 2px;
	display: block;
}
 #contact-form {
 	padding: 0 2%;
 }
 #contact-form input, #contact-form textarea {
 	width: 100%;
 	display: block;
 	margin-left: 10px;
 	margin-right: 10px;
 	position: relative;
  	border: 2px solid #444;
  	color: #fff;
  	font-weight: 400;
	border-radius: 23px;
	-webkit-border-radius: 23px;
 }

  #contact-form input:focus, #contact-form textarea:focus {
  	background: rgba(120,120,120, 0.2);
  	border: 2px dashed #666;
  }

  #contact-form .cf-txt {
  	margin-bottom: 15px;
  	height: 45px;
  	padding: 0 15px;
  	line-height: 45px;
  }

   #contact-form .cf-txtarea {
  	height: 220px;
  	padding: 15px;
  }

   #contact-form .cf-btn {
	   background: #222;
   	color: #ccc;
   	padding: 15px 0;
   	text-transform: uppercase;
   	width: 40%;
   	margin: 25px auto auto auto;
	  border-radius: 25px;
	  -webkit-border-radius: 25px;
	  font-weight: 700;
	  font-size: 12px;
	  letter-spacing: 3px;
	  border: none;-webkit-box-shadow: 0 2px 0px 0 rgba(100,100,100,0.4);
		box-shadow: 0 2px 0px 0 rgba(100,100,100,0.4);
   }

   #contact-form .cf-btn:hover {
   	color: #333;
   	background: #f4da60;
   }

::-webkit-input-placeholder { color: rgba(130,130,130,0.6); font-size: 15px; }
::-moz-placeholder { color: rgba(130,130,130,0.6); font-size: 15px; } /* firefox 19+ */
:-ms-input-placeholder { color: rgba(130,130,130,0.6); font-size: 15px; } /* ie */
input:-moz-placeholder { color: rgba(130,130,130,0.6); font-size: 15px; }

/*
 * Copyright
 */

#copyright {
	background: #000;
	padding: 15px 0;
	color: #444;
	z-index: 200;
	font-size: 12px;
}

#copyright li {
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	width: auto;
	padding: 0 13px;
}

#copyright li:after {
	content: '\203A';
	position: absolute;
	right: 0;
	top: -5px;
	font-size: 18px;
}

#copyright li:last-child:after {
	display: none;
}

#copyright li a {
	display: block;
	color: #333;
	font-weight: 700;
	letter-spacing: 2px;
}

#copyright li a:hover {
	color: #f8db54;
}

#license {
	color: #444 !important;
}

#license:hover {
	color: #999 !important;
}

.pad-clearfix {
	clear: both;
	display: block;
	position: relative;
	width: 100%;
	visibility: hidden;
	height: 30px;
}

/* -----------------------------------------
   Responsive      
----------------------------------------- */

/* Screens & Projectors <--> Landscape Desktop */
@media (max-width: 1800px) {
 .the-closet .wide-container-x1 {
	  width: 75%;
  }
}  
@media (max-width: 1600px) {
 .the-closet .wide-container {
	  width: 75%;
  }
/*
 * Structure
 */

 .container {
 	width: 1420px;
 }
 
 .wide-container {
	 width: 95%;
	 max-width: 1420px;
 }


}


@media (max-width: 1400px) {
.outfit {
	width: 300px;
	max-width: 300px;
	
}

.outfit .action-expand .btn-add {
	width: 160px;
}

.outfit .action-expand .btn-add ul {
	width: 200px;
}


}
@media (max-width: 1380px) {

/*
 * Structure
 */

 .container {
 	width: 1220px;
 }
 
 .wide-container {
	 width: 90%;
	 max-width: 1320px;
 }

	.the-closet .container,
  .wide-container-x1,
.the-closet #foot-navigate .container  {
	  width: 73%;
  }
  .wide-container-x2 {
	  width: 95%;
  }
  
  .the-closet #foot-navigate .container {
	 padding-left: 4%;
  }
  
	.the-closet .container,
	.the-closet .wide-container,
	.the-closet .wide-container-x2,
.the-closet .wide-container-x1	{
	  margin: 0 0 0 284px;
  }
  

/*
*
*/

}

@media (max-width: 1250px) {
	 .the-closet .wide-container-x1 {
	  width: 70%;
  }
	
}

@media (max-width: 1221px) {
	 .container {
	 	width: 1080px;
	 }

	.logo-main a {
		background-image: url(images/theme/logo-main-resp.png);
		width: 258px;
	}
	
	.the-closet .wide-container {
		width: 70%;
	}
}
@media (max-width: 1050px) {
.the-closet .wide-container-x1 {
	  width: 65%;
  }
}

/* Small Desktop <--> Small Laptop */
@media (max-width: 990px) {

	 .container {
	 	width: 84%;
	 }
	 
	 .the-closet .wide-container {
		 width: 65%;
	 }
	 
	 .the-closet .wide-container-x1 {
	  width: 70%;
  }
	 
.the-closet .container,
	.the-closet .wide-container,
	.the-closet .wide-container-x2,
.the-closet .wide-container-x1	{
	  margin: 0 0 0 240px;
  }
  
	 .inner-pad-y4,
	 .inner-pad-y5,
	 .inner-pad-y6 {
		 padding: 80px 0;
	 }
	
		.stylists-highlight.box {
			max-width: 340px;
		}

	 #foot-links ul li:last-child {
		 border-bottom: 1px dotted #333;
	 }

	#copyright .text-left,
	#copyright .text-right {
		text-align: center !important;
	}

	#copyright .text-left,
	#copyright .text-center {
		margin-bottom: 12px;
	}

	 #contact-form .cf-txt {
	 	height: 43px;
	 	line-height: 43px;
		margin-bottom: 8px;
	 }

	 #contact-form .cf-txtarea {
	  	height: 195px;
	  }
	  #contact-form {
		  margin-top: 30px;
	  }
	  #contact-form {
		  padding: 0;
	  }
	  #foot-links .v-hr:after {
		  display: none;
	  }
	  
	  .box {
		  margin-top: 15px;
		  margin-bottom: 15px;
	  }
	  
	  

	.fnv-fix {
		display: block;
		width: 100%;
		position: relative;
		height: 30px;
	}
	
	.outfit {
		width: 300px;
	}
	


}

@media (max-width: 930px) { 
 .the-closet .wide-container-x1 {
	  width: 68%;
  }
}

@media (max-width: 830px) { 
 .the-closet .wide-container-x1 {
	  width: 60%;
  }
}

/* Large Mobile <--> Portrait Tablet */
@media (max-width: 768px) {

	 .container {
	 	width: 88%;
	 }
	 
	 .the-closet .wide-container {
		 width: 62%;
	 }

	.btn { 
		font-size: 12px;
	}

	.btn-block {
		width: 80% !important;
		margin: 10px 10% !important;
	}


	  #contact-form .cf-txtarea {
	  	height: 140px;
	  }

	  #contact-form input, #contact-form textarea {
	 	margin-left: 0;
	 	margin-right: 0;
	 }

	 #contact-form .cf-txt {
	  	margin-bottom: 14px;
	  }
	  
	  #support p,
	 #foot-contact p,
	#newsletter p {
		line-height: 22px;
		 padding: 0 7%;
	}
	
	h2.theme {
		font-size: 28px;
		height: 65px;
	}
	
	
	#newsletter h2.theme {
		font-size: 22px;
	}
	
	#newsletter .newsletter-form {
		width: 70%;
	}
	
	.outfit-feed  {
		width: 332px;
	}
	
	.outfit {
	width: 330px;
	max-width: 330px;
			
		}

		.outfit .action-expand .btn-add {
			width: 170px;
		}

		.outfit .action-expand .btn-add ul {
			width: 214px;
		}
	
	.the-closet .wide-container-x1 {
	width: 68%;
}

.the-closet .container,
	.the-closet .wide-container,
	.the-closet .wide-container-x2,
.the-closet .wide-container-x1	{
	  margin: 0 0 0 200px;
  }


}

@media (max-width: 685px) {
.the-closet .wide-container-x1 {
	width: 64%;
}

}
@media (max-width: 615px) {

	#contact-form .cf-btn {
		width: 60%;
		font-size: 14px;
	}
	
	
	.stylist-stats	{
		display: none;
	}
	
	footer .social-media-links a {
		font-size: 19px;
		width: 40px;
		height: 40px;
		line-height: 38px;
	}
	
	.the-closet .wide-container-x1 {
	width: 60%;
}

.the-closet .wide-container {
	width: 50%;
}
	
}

@media (max-width: 580px) {

	.the-closet .wide-container-x1 {
	width: 54%;
}

}

/* Landscape Mobile */
@media (max-width: 480px) {

	.container {
	 	width: 85%;
	 }
	 
	 
	.the-closet .wide-container,
	 .the-closet .wide-container-x1 {
		width: 68%;
	}


.the-closet .container,
	.the-closet .wide-container,
	.the-closet .wide-container-x2,
.the-closet .wide-container-x1	{
	  margin: 0 0 0 92px;
  }
	 
	
	#newsletter h2.theme {
		font-size: 20px;
	} 
	 
	 footer h2.theme {
		 font-size: 22px;
	 }
	 
	 
		.stylists-highlight.box {
			-moz-transform: scale(0.95);
			-webkit-transform: scale(0.95);
			-o-transform: scale(0.95);
			-ms-transform: scale(0.95);
			transform: scale(0.95);
		}
		
	
}

/* Standard Mobile */
@media (max-width: 360px) {
.outfit-feed {
	width: 272px;
}
.outfit {
	width: 270px;
	max-width: 270px;
	
}

.outfit .action-expand .btn-add {
	width: 145px;
}

.outfit .action-expand .btn-add ul {
	width: 175px;
}

.stylists-highlight .badge {
	display: none;
}

.outfit .top-view, .outfit .dress-view {
	left: -5%;
}

.outfit .top-view .img-frm {
	width: 180px;
	height: 180px;
}

.outfit .dress-view .img-frm {
	width: 180px;
	height: 200px;
}

	
}

/* Height */
@media (max-height: 690px) {

}

/* -----------------------------------------
   IE fix    
----------------------------------------- */
/* IE can just show/hide with no transition */

.nav-clearfix {
	height: 150px;
}